##############################
# Maven build output
##############################
target/
*/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

##############################
# IntelliJ IDEA
##############################
.idea/
*.iml
*.iws
*.ipr
out/

##############################
# Eclipse
##############################
.project
.classpath
.settings/

##############################
# VS Code
##############################
.vscode/

##############################
# OS-specific files
##############################
**/.DS_Store
**/.DS_StoreThumbs.db

##############################
# Logs
##############################
*.log

##############################
# Java
##############################
*.class

##############################
# Temporary files
##############################
*.tmp
*.swp
*.swo

##############################
# JARs generated locally
##############################
*.jar
*.war
*.ear

