<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <OciAsyncAppender name="OCI"
                          logId="ocid1.log.oc1.eu-milan-1.amaaaaaafw2z5sqalbhdfdvb6jfuha6k2g4wya7najkpylbf5bi5ly5wt3aa"
                          configFile="/Users/l.scarpa/.oci/config"
                          profile="DEFAULT"
                          batchSize="10"
                          flushIntervalMs="2000"
                          ignoreExceptions="false"
                          sysoutTrace="true">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </OciAsyncAppender>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OCI"/>
        </Root>
    </Loggers>

</Configuration>
